#body_background{
    background-color: red;
}
div{
    background-color: white;
    border-radius: 70px;
    border-top: 70px;
    
    
}
#output{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;

}

